<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <!-- 指定控制台的日志格式 -->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d - %msg%n
            </pattern>
        </layout>
    </appender>
    <!--info级别日志的文件输出格式和策略-->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--设置过滤器：根据level过滤,匹配则禁止DENY，否则则接受ACCEPT-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <!--日志输出格式-->
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
        <!--日志输出策略：按照时间输出-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志输出路径-->
            <fileNamePattern>/Users/mac/Documents/workspace/graduation/log/info.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!--error级别日志的文件输出格式和策略-->
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--设置过滤器：根据level过滤-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <!--日志输出格式-->
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
        <!--日志输出策略：按照时间输出-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志输出路径-->
            <fileNamePattern>/Users/mac/Documents/workspace/graduation/log/error.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!-- 引用appender标签设置的日志格式：root表示针对整个项目使用该格式 -->
    <root level="info">
        <appender-ref ref="consoleLog" />
        <appender-ref ref="fileInfoLog" />
        <appender-ref ref="fileErrorLog" />
    </root>
</configuration>